
.git_add.bat.un~
.vs/raster-engine/v16/.suo
.vs/raster-engine/v16/Browse.VC.db
.vs/raster-engine/v16/Browse.VC.db-shm
.vs/raster-engine/v16/Browse.VC.db-wal
.vs/raster-engine/v16/Browse.VC.opendb
.vs/raster-engine/v16/ipch/AutoPCH/3823ea91271123f1/RASTER_STAGE.ipch
.vs/raster-engine/v16/ipch/AutoPCH/5e7692236acd3077/SIMD.ipch
.vs/raster-engine/v16/ipch/AutoPCH/6e0a7ad5bda96952/MAIN.ipch
.vs/raster-engine/v16/ipch/AutoPCH/8f8bbb6a8d604030/MAIN.ipch
.vs/raster-engine/v16/ipch/AutoPCH/982abb1c9b33a517/RASTER_STAGE.ipch
.vs/raster-engine/v16/ipch/AutoPCH/9a62c51b8627c19/RASTER_STAGE.ipch
.vs/raster-engine/v16/ipch/AutoPCH/a74b7fbf14344fec/UTILS.ipch
.vs/raster-engine/v16/ipch/AutoPCH/aec9f11c0f984af3/RASTER_STAGE.ipch
.vs/raster-engine/v16/ipch/AutoPCH/c373d45c8fce26e4/RASTER_STAGE.ipch
.vs/raster-engine/v16/ipch/AutoPCH/fb49493156a12cc5/MAIN.ipch
.vs/raster-engine/v16/ipch/AutoPCH/fbbece52003caf6a/WIN32_BUFFER.ipch
.vs/raster-engine/v16/ipch/AutoPCH/fc3df61afc8a60b7/WIN32_BUFFER.ipch
*.bat
*.sln
raster-engine/Debug/main.obj
raster-engine/Debug/raster-engine.exe.recipe
raster-engine/Debug/raster-engine.log
raster-engine/Debug/raster-engine.tlog/CL.command.1.tlog
raster-engine/Debug/raster-engine.tlog/CL.read.1.tlog
raster-engine/Debug/raster-engine.tlog/CL.write.1.tlog
raster-engine/Debug/raster-engine.tlog/link.command.1.tlog
raster-engine/Debug/raster-engine.tlog/link.read.1.tlog
raster-engine/Debug/raster-engine.tlog/link.write.1.tlog
raster-engine/Debug/raster-engine.tlog/raster-engine.lastbuildstate
raster-engine/Debug/raster_stage.obj
raster-engine/Debug/utils.obj
raster-engine/Debug/vc142.idb
raster-engine/Debug/vc142.pdb
raster-engine/Debug/win32_buffer.obj
raster-engine/raster-engine.vcxproj
raster-engine/raster-engine.vcxproj.filters
raster-engine/raster-engine.vcxproj.user
raster-engine/x64/Debug/main.obj
raster-engine/x64/Debug/raster-engine.Build.CppClean.log
raster-engine/x64/Debug/raster-engine.exe.recipe
raster-engine/x64/Debug/raster-engine.ilk
raster-engine/x64/Debug/raster-engine.log
raster-engine/x64/Debug/raster-engine.tlog/CL.command.1.tlog
raster-engine/x64/Debug/raster-engine.tlog/CL.read.1.tlog
raster-engine/x64/Debug/raster-engine.tlog/CL.write.1.tlog
raster-engine/x64/Debug/raster-engine.tlog/link.command.1.tlog
raster-engine/x64/Debug/raster-engine.tlog/link.read.1.tlog
raster-engine/x64/Debug/raster-engine.tlog/link.write.1.tlog
raster-engine/x64/Debug/raster-engine.tlog/raster-engine.lastbuildstate
raster-engine/x64/Debug/raster-engine.vcxproj.FileListAbsolute.txt
raster-engine/x64/Debug/raster_stage.obj
raster-engine/x64/Debug/utils.obj
raster-engine/x64/Debug/vc142.idb
raster-engine/x64/Debug/vc142.pdb
raster-engine/x64/Debug/win32_buffer.obj
raster-engine/x64/Release/main.obj
raster-engine/x64/Release/raster-engine.Build.CppClean.log
raster-engine/x64/Release/raster-engine.exe.recipe
raster-engine/x64/Release/raster-engine.iobj
raster-engine/x64/Release/raster-engine.ipdb
raster-engine/x64/Release/raster-engine.log
raster-engine/x64/Release/raster-engine.tlog/CL.command.1.tlog
raster-engine/x64/Release/raster-engine.tlog/CL.read.1.tlog
raster-engine/x64/Release/raster-engine.tlog/CL.write.1.tlog
raster-engine/x64/Release/raster-engine.tlog/link.command.1.tlog
raster-engine/x64/Release/raster-engine.tlog/link.read.1.tlog
raster-engine/x64/Release/raster-engine.tlog/link.write.1.tlog
raster-engine/x64/Release/raster-engine.tlog/raster-engine.lastbuildstate
raster-engine/x64/Release/raster-engine.vcxproj.FileListAbsolute.txt
raster-engine/x64/Release/raster_stage.obj
raster-engine/x64/Release/utils.obj
raster-engine/x64/Release/vc142.pdb
raster-engine/x64/Release/win32_buffer.obj
*.bat~
*.exe
*.pdb
*.ipch
*.lock
.vs/raster-engine/v17/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.idb
*.vsidx
;
*.tlog
*.obj
